.container {
  background-color: black;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headContainer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headContainer > * {
  /* width: 33%; */
}

.statusContainer {
  display: flex;
  gap: 10px;
}
.statusContainer select {
  border-radius: 8px;
  /* border: 1px solid rgb(185, 161, 175); */
  border: 1px solid royalblue;
  background-color: rgb(39, 35, 35);
  color: rgb(185, 161, 175);
}
