.container {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: rgb(185, 161, 175);
  border-bottom: 1px solid rgb(185, 161, 175);
}

.container > p {
  flex: 1 1 0px;
  /* width: 33%; */
}
.container > button {
  width: 15%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(206, 80, 71);
  background-color: black;
  color: rgb(206, 80, 71);
}
.container > button:hover {
  background-color: rgb(206, 80, 71);
  color: black;
}
.container select {
  border-radius: 8px;
  padding: 10px;
  flex: 1 1 0px;
  /* border: 1px solid rgb(185, 161, 175); */
  border: 1px solid royalblue;
  background-color: rgb(39, 35, 35);
  color: rgb(185, 161, 175);
}
