:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* background: #0e101c; */
  background-color: rgb(39, 35, 35);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
